/* You can add global styles to this file, and also import other style files */
.hero{
    height: 50px;
    width: 50px;
    margin-right:10px ;
}

.navbar-nav a{
    color: darkorange!important;
}

.navbar{
    font-size: medium;
}


.active{
    font-size: 17px;
    font-weight: bolder;
}